*{
    margin: 0px;
    padding: 0px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: white;
}
body{
    background-image: url('img2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#box{
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
#box a{
    text-decoration: none;
}
#scheme1, #scheme2{
    padding: 5px 10px 5px 10px;
}
#scheme1{
    padding-left: 5%;
    float: left;
}
#scheme2{
    padding-right: 10%;
    float: right;
}
#scheme1 h3, #scheme2 h3{
    transition-duration: 0.5s;
    text-align: center;
    display: inline-block;
    width: 90px;
}
header{
    clear: both;
}
header a{
    text-decoration: none;
    color: lightgray;
}
#logo{
    float: left;
}
#logo img{
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    transition-duration: 1s;
}
#logo img:hover{
    height: 180px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
}
nav{
    line-height: 50px;
    padding-right: 20px;
    float: right;
}
nav h3{
    text-align: center;
    display: inline-block;
    color: rgb(64, 64, 102);
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 30px;
    transition-duration: 1s;
}
nav h3:hover{
    scale: 1.1;
}
#sections{
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
#sections .block{
    width: 20%;
    float: left;
    margin-bottom: 50px;
    margin-left: 3%;
    margin-right: 1%;
    transition-duration: 0.5s;
}
#sections .block img{
    width: 100%;
}
#sections .block:hover{
    width: 22%;
    margin-left: 2%;
    margin-right: 0%;
    margin-bottom: 0px;
}
#work{
    height: 500px;
    font-size: 70px;
    text-align: center;
}
#sections .image{
    width: 50%;
    float: left;
    text-align: center;
}
#sections .image img{
    width: 80%;
    transition-duration: 1s;
}
#sections .image img:hover{
    width: 82%;
}
article{
    padding-right: 30px;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 25px;
}
footer{
    clear: both;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
}
footer h3{
    padding-top: 30px;
    color: lightgray;
    text-align: center;
}
@media all and (max-width: 960px){
    #sections .block{
        width: 45%;
        text-align: center;
    }
    #sections .block:hover{
        width: 47%;
    }
    #sections #blockdebug{
        clear: both;
    }
}
@media all and (max-width: 895px){
    #logo img{
        height: 130px;
        padding-bottom: 0px;
    }
    #logo img:hover{
        height: 150px;
    }
    nav h3{
        font-size: 25px;
        padding-right: 5px;
        margin-top: 25px;
    }
}
@media all and (max-width: 750px){
    #logo img{
        height: 110px;
        padding-bottom: 0px;
        padding-left: 40px;
    }
    #logo img:hover{
        height: 130px;
        padding-left: 20px;
    }
    nav h3{
        font-size: 20px;
        margin-top: 25px;
    }
}
@media all and (max-width: 640px){
    #logo img{
        height: 90px;
        padding-bottom: 0px;
        padding-left: 40px;
    }
    #logo img:hover{
        padding-top: 10px;
        height: 100px;
        padding-left: 30px;
    }
    nav h3{
        font-size: 18px;
        margin-top: 15px;
        padding-right: 5px;
        padding-left: 5px;
        transition-duration: 0s;
    }
}
@media all and (max-width: 550px){
    #logo{
        float: none;
        text-align: center;
    }
    #logo img{
        height: 180px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    #logo img:hover{
        padding-top: 10px;
        height: 190px;
        padding-left: 0px;
    }
    nav{
        clear: both;
        float: none;
        text-align: center;
    }
    nav h3{
        line-height: 0px;
        font-size: 24px;
        margin-top: 0px;
        padding-right: 1%;
        padding-left: 1%;
        transition-duration: 0s;
    }
    #sections .block{
        width: 91%;
        clear: both;
        margin-bottom: 20px;
    }
    #sections .block:hover{
        width: 93%;
    }
    footer{
        height: 50px;
    }
    footer h3{
        padding-top: 10px;
    }
    #box{
        height: 30px;
    }
    #scheme1 h3, #scheme2 h3{
        width: 60px;
        font-size: 15px;
    }
    #sections .image img{
        width: 90%;
        transition-duration: 1s;
    }
    #sections .image img:hover{
        width: 96%;
    }
    article{
        clear: both;
    }
    #sections .image{
        width: 100%;
        float: left;
        text-align: center;
    }
}
